.home-img {
	height: 250px;
}
.home-img img {
	height: inherit;
	width: inherit;
}
.home-img-desc {
	margin-top: 30px;
	font-size: 20px;
}
.home-desc {
	height: 100px;
	width: 100%;
	display: inline-flex;
}
.home-desc a.btns {
    display: inline-block;
    border: 5px #fff solid;
    padding: 10px;
    margin: auto;
	cursor: pointer;
	width: 150px;
	margin-left: 10px;
}
.home-desc a.btns:nth-child(1) {
	margin-right: 10px;
	margin-left: auto;
}
.home-desc a.btns:nth-child(2) {
	margin-left: 10px;
	margin-right: auto;
}
.home-desc a {
	color: #fff;
}
.home-desc .btns:hover, .home-desc .btns a:hover, .home-desc .btns:hover > a {
	color: #b2b3b3;
	background-color: #fff;
	border-color: #b2b3b3;
}