.home-img {
	height: 250px;
}
.home-img img {
	height: inherit;
	width: inherit;
}
.home-img-desc {
	margin-top: 30px;
	font-size: 20px;
}
.home-desc {
	height: 100px;
	width: 100%;
	display: inline-flex;
}
.home-desc .btns {
    display: inline;
    border: 5px #fff solid;
    padding: 10px;
    margin: auto;
	cursor: pointer;
	width: 150px;
	margin-left: 10px;
}
.home-desc a.btns {
	margin: auto;
	margin-right: 10px;
}
.home-desc a {
	color: #fff;
}
.home-desc .btns:hover, .home-desc .btns a:hover {
	color: #b2b3b3;
	background-color: #fff;
	border-color: #b2b3b3;
}