html, body {
	overflow-x: hidden;
	cursor:default;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.inline-grid {
	display: inline-grid;
}
.img-container {
	position: relative;
	text-align: center;
	color: #fff;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #fff;
}
a.header {
	color: #337ab7!important;
}
a.header:hover, a.header:focus {
	color: #23527c!important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #337ab7!important;
}
.nav-list li:hover, .nav-list li:focus {
	background-color: #eee;
}
.navbar-inverse .navbar-toggle {
	border-color: #337ab7!important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #337ab7!important;
	color: #23527c!important;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #337ab7!important;
}
.navbar-inverse .navbar-toggle:focus .icon-bar{
	background-color: #fff!important;
}
.navbar-inverse .navbar-toggle:hover .icon-bar{
	background-color: #fff!important;
}
.nav>li>a {
	height: 50px;
}

/* Footer CSS*/
.footer {
	position: fixed;
	left: 0;
	padding:10px 0px;
	bottom: 0;
	width: 100%;
	background: white;
	opacity: .9;
    /*background-image:url('../../images/Transparent.png');*/
    text-align: center;
}
.footer .center {
	line-height: 30px;
	color:black;
}

/* General CSS */
.p-l-10 {
	padding-left: 10px;
}
.p-r-10 {
	padding-right: 10px;
}
.p-t-10 {
	padding-top: 10px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.m-l-10 {
	margin-left: 10px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.f-10 {
	font-size: 10px;
}
.w-100 {
	width: 100%!important;
}
.m-t-30 {
	margin-top: 30px;
}
.w-50-p {
	width: 50%;
}
.dsp-inl {
	display: grid;
}

/*Custom CSS*/
.img-container-content {
	position: absolute;
	top: 52%;
	left: 53%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-transform: uppercase;
}
.front-bg {
	width: 100%;
	opacity: .8;
	height: 92%;
	position: fixed;
	background-image: url('../../images/edu44.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.hid {
	display: inline-block;
    margin: 35px 1%;
    float: left;
    width: 14.6%;
    background:grey;
	opacity: .95;
    background-image:url('../../images/Transparent.png');
}
.rotater {
	width: 600%;
	height: 80%;
}

/*Common CSS*/
.section-header {
	margin:0px;
	text-align: center;
	cursor: default;
    font-family: Georgia, serif;
}
.section-content {
	display: inline-flex;
	width:100%;
    margin: 20px 0px;
    min-height: 400px;
}
.section-desc {
	text-align: center;
}
.section-desc span {
    display: block;
}

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
