@media only screen and (max-width: 1024px) {
	.nav>li>a {
		padding: 10px 10px;
	}
}
@media only screen and (max-width: 767px) {
	.nav>li>a {
		padding: 10px 40px;
	}
}
@media only screen and (max-width: 960px) {
	.section-content .section-right form input {
		width: 100%;
	}
}