@media only screen and (max-width: 1260px) {
	.rotater {
		overflow-y: scroll;
	}
}
@media only screen and (max-width: 1080px) {
	.section-content .section-right form input.subject {
		margin: 15px 0px;
	}
}
@media only screen and (max-width: 1024px) {
	.nav>li>a {
		padding: 10px 10px;
	}
	.section-content {
		min-height: 330px;
	}
}
@media only screen and (max-width: 990px) {
	.section-content .section-right form table tbody tr:first-child td:first-child {
		padding: 0;
	}
	.inl-res {
		display: inline;
	}
	.section-content .section-right form input {
		width: 100%;
	}
	.works .work_list .first .work-img {
		width: 150px;
		height: 150px;
	}
	.works .work_list .first .work-img:hover {
		width: 200px;
		height: 200px;
		margin: 5px;
	}
}
@media only screen and (max-width: 767px) {
	.nav>li>a {
		padding: 10px 40px;
	}
}
@media only screen and (max-width: 520px) {
	.skills .skill_list {
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.skills .skill_list .skills {
		min-height: 220px;
		width: 80%;
	}
	.section-content {
		display: inline-block;
		/*height: 850px;*/
	}
	.section-content .section-left {
		width: auto;
		display: block;
		height: auto;
	}
	.section-content .section-right {
		width: 100%;
		padding:15px;
		display: block;
		height: auto;
	}
	.acad-img {
		width:80%;
	}
	.projs .proj_list .first .def {
		min-height: auto;
	}
}
@media only screen and (max-width: 426px) {
}
@media only screen and (max-width: 350px) {
	.header {
	    width: 150px;
	    overflow: hidden;
	}
	.projs .proj_list .first .def {
		width: 95%;
	}
}
@media only screen and (max-height: 700px) {
	.rotater {
		overflow-y: scroll;
	}
}